[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "1.3.0"
click = "*"
mlflow = "*"
boto3 = "*"
evidently = "*"
optuna = "*"
python-dotenv = "*"
flask = "*"
catboost = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
